.container {
    max-width: 1200px;
    @extend %center-block;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 90%;
        overflow: hidden;
    }
}

//text link
a {
    text-decoration: none;
    color: $white;
}

.icon {
    width: 30px;
    margin: 0 5px;
    background: $gray;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow .3s ease;
    &:hover {
        box-shadow: 0 0 0 3px $white;
    }
}
