/* latin */

@import url(https://fonts.googleapis.com/css?family=Abel);

body {
    font-family: "Abel", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: $white;
}

p.legal {
	font-size: 0.8em;
	letter-spacing: 0.3em;
}
