#site-footer {
    background: $black;
    padding: 20px 0 10px;
    a {
        &:hover .icon {
            box-shadow: 0 0 0 3px $white;
        }
    }
    span {
        vertical-align: 0.5em;
    }
    .icon {
    	margin: 0 10px 0 20px;
    }
    .legal {
    	margin-top: 20px;
    }
}
