/* Header section */

#section-header {
    background: url(../img/cover.png) center top / contain no-repeat, $black;
    border-top: solid 20px $black;
    height: 600px;
    position: relative;
}

.img-logo {
    width: 400px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-130%);
}


/* Portfolio section */

#section-portfolio {
    background: $white;
    padding: 60px 0;
    blockquote {
        color: $red;
        position: relative;
        width: 400px;
        height: 100px;
        @extend %center-block;
        #quote {
            text-align: justify;
        }
        .quote {
            width: 40px;
            position: absolute;
        }
        .quote1 {
            left: -60px;
            top: -30px;
        }
        .quote2 {
            right: -60px;
            transform: rotate(180deg) translateY(20px);
        }
    }
    .selector-group {
        width: 300px;
        margin-top: 30px;
        @extend %center-block;
    }
    .selector {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 0 1px $gray;
        transition: all .3s ease;
        &.is-active {
            background: $gray;
        }
    }
}

cite {
    display: inline-block;
    width: 90%;
    text-align: right;
    font-size: 0.8em;
}

.portfolio-images {
    margin-top: 30px;
    width: (240*3)*1px;
    @extend %center-block;
    position: relative;
    &:hover {
        .img-portfolio {
            background-position: -10px -10px;
            opacity: 0.5;
        }
        .section-title {
            bottom: 0;
            height: 100%;
            h2 {
                font-size: 2em;
            }
        }
    }
}

.img-portfolio {
    width: 240px;
    height: 550px;
    transition: .3s background-position ease, .3s opacity ease;
}

.img-portfolio-1 {
    background: url(../img/portfolio1.png);
}

.img-portfolio-2 {
    background: url(../img/portfolio2.png);
}

.img-portfolio-3 {
    background: url(../img/portfolio3.png);
}

.section-title {
    width: 100%;
    position: absolute;
    bottom: 10%;
    background: rgba($red, 0.8);
    height: 50px;
    transition: .3s bottom ease, .3s height ease;
    h2 {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s font-size ease;
    }
}


/* About section */

#section-about {
    padding: 60px 0;
    background: url(../img/bg-about.png) center / cover no-repeat;
    blockquote {
        width: 400px;
        @extend %center-block;
        text-align: justify;
    }
}


/* Services section */

#section-services {
    background: $white;
    padding: 60px 0;
}

.img-services {
    width: 240px;
    height: 240px;
    transition: .3s background-position ease, .3s opacity ease;
}

.img-services-1 {
    background: url(../img/services1.png);
}

.img-services-2 {
    background: url(../img/services2.png);
}

.img-services-3 {
    background: url(../img/services3.png);
}

.services-images {
    width: (240*3)*1px;
    @extend %center-block;
    position: relative;
    &:hover {
        .img-services {
            background-position: -10px -10px;
            opacity: 0.5;
        }
        .section-title {
            bottom: 0;
            height: 100%;
            h2 {
                font-size: 2em;
            }
        }
    }
}
