/* Header section */

#section-header {
    background: url(../img/cover.png) center top / contain no-repeat, $black;
    border-top: solid 20px $black;
    height: 600px;
    position: relative;
}

.img-logo {
    width: 400px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-130%);
}


/* Portfolio section */

#section-portfolio {
    background: $white;
    padding: 60px 0;
    blockquote {
        color: $red;
        position: relative;
        width: 400px;
        height: 100px;
        @extend %center-block;
        #quote {
            text-align: justify;
        }
        .quote {
            width: 40px;
            position: absolute;
        }
        .quote1 {
            left: -60px;
            top: -30px;
        }
        .quote2 {
            right: -60px;
            transform: rotate(180deg) translateY(20px);
        }
    }
    .selector-group {
        width: 300px;
        margin-top: 30px;
        @extend %center-block;
    }
    .selector {
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 5px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 0 1px $gray;
        transition: all .3s ease;
        &.is-active {
            background: $gray;
        }
    }
}

cite {
    display: inline-block;
    width: 90%;
    text-align: right;
    font-size: 0.8em;
}

.portfolio-images {
    margin-top: 30px;
    width: (250*3)*1px;
    @extend %center-block;
    position: relative;
}

.section-title {
    width: 100%;
    position: absolute;
    bottom: 10%;
    color: $white;
    background: rgba($red, 0.8);
    height: 50px;
    h2 {
        margin: 0;
        padding-top: 5px;
    }
}


/* About section */

#section-about {
    padding: 60px 0;
    background: url(../img/bg-about.png) center / cover no-repeat;
    blockquote {
        width: 400px;
        @extend %center-block;
        text-align: justify;
        color: $white;
    }
}

#section-services {
    background: $white;
    padding: 60px 0;
}

.services-images {
    width: (250*3)*1px;
    @extend %center-block;
    position: relative;
}
