#site-nav {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    z-index: 100;
    .container {
        position: relative;
    }
    .nav-container {
        position: absolute;
        right: 0;
        width: 400px;
        transition: .3s right ease, .3s transform ease;
    }
    .nav-links {
        font-size: 1.5em;
        margin-bottom: 10px;
        a {
            padding: 0 10px;
            transition: .3s color ease;
            &:hover {
                color: $red;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    #site-nav {
        text-align: right;
        .nav-container {
            margin-right: 30px;
            right: 50%;
            transform: translateX(100%);
        }
        .nav-links {
            margin-bottom: 10px;
            a {
                padding: 0 5px;
            }
        }
    }
}
