/* Small Desktop to ipad */

@media only screen and (max-width: 1040px) {
    #section-harmony {
        .life {
            font-size: 1em;
            blockquote {
                margin-top: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
            cite {
                margin-top: -10px;
            }
        }
    }
    #section-bio {
        .container {
            div {
                padding: 50px;
                font-size: 1em;
            }
        }
    }
}


/* Mobile */

@media only screen and (max-width: 767px) {
    #section-harmony {
        .container {
            max-width: 100%;
        }
        .harmony {
            width: 100%;
        }
        .life {
            blockquote {
                margin: 20px;
                margin-top: -50px;
                position: static;
                transform: none;
            }
            width: 100%;
            height: auto;
            padding-bottom: 0;
            font-size: 0.9em;
            cite {
                padding: 0;
            }
        }
    }
    #section-bio {
        .container {
            div {
                padding: 30px;
                font-size: 0.9em;
            }
            max-width: 100%;
        }
    }
}
