#setion-portfolio {
    padding: 60px 0;
    background: $white;
    .cell {
        width: percentage(1/3);
        height: 0;
        padding-bottom: percentage(1/3);
        overflow: hidden;
        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 6em;
            margin: 0;
            opacity: 0;
            transition: .3s font-size ease, .3s opacity ease;
            text-shadow: 0 0 3px $black;
        }
        img {
            width: 100%;
        }
        &:hover {
            cursor: pointer;
            h2 {
                opacity: 1;
                font-size: 3em;
            }
            .img-overlay {
                opacity: 1;
            }
        }
    }
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .3s opacity ease;
}
