/* Mobile */

@media only screen and (max-width: 767px) {
    #section-prices {
        .container {
            max-width: 100%;
        }
        text-align: left;
        .pictures {
            width: 100%;
        }
        .prices {
            width: 100%;
            padding: 30px;
        }
        .mobile {
            display: block;
            padding: 30px 0;
            width: 100%;
        }
    }
    .desktop {
        display: none;
    }
}
